<form method="post" action="{{ path('app_attribute_value_delete', {'id': attribute_value.id,'id_attribute': attribute.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attribute_value.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
