{% extends 'base.html.twig' %}

{% block title %}Modifier la valeur{% endblock %}

{% block body %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-10">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Modifier la valeur</h3>
                </div>
                <div class="card-body">
                    {% if form_errors(form) %}
                        <div class="alert alert-danger">{{ form_errors(form) }}</div>
                    {% endif %} 
                    {{ include('attribute_value/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
                </div>
            </div>
            <a href="{{ path('app_attribute_value_index', {'id_attribute': attribute.id}) }}">Retour à la liste</a>
            {{ include('attribute_value/_delete_form.html.twig') }}
        </div>  
    </div>
{% endblock %}