{% extends 'base.html.twig' %}
{% block body %}
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{{ asset('dist/img/logo.png') }}" alt="AdminLTELogo" height="260" width="260">
  </div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% for type, messages in app.flashes() %}
      {% for message in messages %}
          <div class="alert {{ type }}">{{ message }}</div>
      {% endfor %}
    {% endfor %}
  </div>

{% endblock %}